<div>
    {% if authorization == 'ADM' %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="test.php">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#published">Published</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="test.php?p=userslist">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="test.php?p=logout">Logout</a>
            </li>
        </ul>
    </div>
    {% elseif authorization == 'AUT' %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="test.php">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#published">Published</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#myposts">My posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="test.php?p=logout">Logout</a>
            </li>
        </ul>
    </div>
    {% elseif authorization == 'REV' %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="test.php">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#published">Published</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#assignedposts">Assigned posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="test.php?p=logout">Logout</a>
            </li>
        </ul>
    </div>
    {% else %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="test.php">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#published">Published</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="test.php?p=login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="test.php?p=register">Register</a>
            </li>
        </ul>
    </div>
    {% endif %}
</div>

