<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Crypto-currency conference</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="content/css/resume.css" rel="stylesheet">

</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Start Bootstrap</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile mx-auto mb-2" src="content/img/profile.jpg" alt="">
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {{ menu|raw }}
</nav>

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="viewpost">
        <div>
            <p class="valid-msg" style="color: #721c24">{{msg}}</p>
        </div>
        <div class="my-auto">
            <h2 class="mb-5">View post</h2>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <form action="index.php?p=editpost&id={{post.id}}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <h3 id="title">{{post.title}}</h3>
                    </div>
                    <div class="form-group">
                        <label for="abstract">Abstract:</label>
                        <p id="abstract">{{post.abstract}}</p>
                    </div>
                    <div class="form-group">
                        <label for="pdffile">Download post:</label>
                        <a href="posts/{{post.filename}}" id="pdffile">DOWNLOAD PDF</a>
                    </div>
                    <div class="form-group">
                        <label for="state">State:</label>
                        <p id="state">{% if post.state %}PUBLISHED{% else %}IN PROGRESS{% endif %}</p>
                    </div>
                    <div class="form-group">
                        {% if post.state %}{% else %}<a href="index.php?p=editpost&id={{post.id}}">Edit</a>{% endif %}
                    </div>
            </div>
        </div>
    </section>

</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="content/js/resume.min.js"></script>

</body>

</html>
